<div class="container">
    <div >
    <div class="container">
        <h1 class="container">
            Welcome, 
            Write down your tasks and be  systematic
        </h1>
    </div>
        <div class="container">
            <h2 class="container">
                Please Log In to access your tasks
            </h2>
        </div>
        <div class="container">
            <mat-form-field class="example-form-field" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="text">
            </mat-form-field>
        </div>
        <div class="container"> 
            <mat-form-field class="example-form-field" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="text">
            </mat-form-field>
        </div>
    <div class="container">
        <!-- <button mat-stroked-button type="submit">Log In</button> -->
        <a mat-raised-button href="/task-list">Log In</a>
    </div>
    <div>
        <br>
    </div>
    <P class="container">
        Don't Have and account <a href="/signup">SignUp</a> here
    </P>
    </div>
</div>