<div>
    <div class="container">
        <div >
        <div class="title">
            <h1>
                Welcome, Write down your tasks and be  systematic
            </h1>
        </div>
            <div class="title">
                <h2>
                    Please Log In to access your tasks
                </h2>
            </div>
            <div class="input">
                <mat-form-field class="example-form-field" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="text">
                </mat-form-field>
            </div>
            <div class="input"> 
                <mat-form-field class="example-form-field" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="text">
                </mat-form-field>
            </div>
        <div class="input">
            <!-- <button mat-stroked-button type="submit">Log In</button> -->
            <a mat-raised-button color="priority" href="/task-list">Log In</a>
        </div>
        <div>
            <br>
        </div>
        <P class="input">
            Don't Have an account <a style="margin-right:5px; margin-left:5px" href="/signup">SignUp</a> here
        </P>
        </div>
    </div>
</div>
