:host {
.container{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.title {
    padding: 10px;
    font-size: 400%;
    color: #624689;
    display: flex;
    justify-content: center;
    font-style: italic;
    font-family: Georgia;
}
.input {
    font-size: 130%;
    color: #624689;
    display: flex;
    justify-content: center;
}

}
  