<div>
    <div class="title container input">
        <h1>
            Please Sign up with necessary informations
        </h1>
    </div>
    <div class="input">
      <form class="user-form">

        <mat-form-field>
          <mat-label>Enter Your User Name</mat-label>
          <input matInput
            placeholder="Enter Your User Name"
            [formControl]="userName"
            (blur)="updateErrorMessageUserName()"
            required>
          @if (userName.invalid) {
            <mat-error>{{errorMessageUsername}}</mat-error>
          }
        </mat-form-field>

        <mat-form-field>
          <mat-label>Enter your email</mat-label>
          <input matInput
            placeholder="Enter Your Email"
            [formControl]="email"
            (blur)="updateErrorMessageEmail()"
            required>
          @if (email.invalid) {
            <mat-error>{{errorMessageEmail}}</mat-error>
          }
        </mat-form-field>

        <mat-form-field>
          <mat-label>Enter Your Password</mat-label>
          <input matInput
            placeholder="Enter Your Password"
            [formControl]="password"
            (blur)="updateErrorMessagePassword()"
            required>
          @if (password.invalid) {
            <mat-error>{{errorMessagePassword}}</mat-error>
          }
        </mat-form-field>

      <div class="input">
      <button style=" width: 100px; height: 30px;" type="button" (click)="onSubmit()" [disabled]="!isFormValid">Submit</button>
    </div>
    </form>
    </div>
  </div>