<div class="container">
    <div>
    <div class="container">
        <H1 class="container">
            Please Sign up with necessary informations
        </H1>
    </div>
    <div class="container">
        <mat-form-field class="example-form-field" appearance="outline">
            <mat-label>User Name</mat-label>
            <input matInput type="text">
        </mat-form-field>
    </div>

    <div class="container"> 
        <mat-form-field class="example-form-field" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="text">
        </mat-form-field>
    </div>

    <div class="container">
        <mat-form-field class="example-form-field" appearance="outline">
            <mat-label>Phone Number</mat-label>
            <input matInput type="text">
        </mat-form-field>
    </div>

    <div class="container">
        <mat-form-field class="example-form-field" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="text">
        </mat-form-field>
    </div>

    <div class="container">
        <!-- <button mat-stroked-button type="submit">Submit</button> -->
        <a mat-raised-button href="/login">Submit</a>
    </div>
</div>
</div>