<div>
    <div class="title container input">
        <h1>
            Please Sign up with necessary informations
        </h1>
    </div>
    <div class="input">
      <form class="user-form" [formGroup]="userform" (ngSubmit)="adduser()">
        <mat-form-field>
            <mat-label>User Name</mat-label>
            <input matInput type="text" formControlName="userName" />
          </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="text" formControlName="email" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="text" formControlName="password" />
      </mat-form-field>
      <div class="input">
      <button style=" width: 100px; height: 30px;"type="submit">Submit</button>
    </div>
    </form>
    </div>
  </div>