<div>
  <div class="container">
    <button mat-raised-button style="margin-right:5px;" color="priority" (click)="navigeteTo('add-task')">Add Task</button>
    <button mat-raised-button style="margin-right:5px" color="priority" (click)="navigeteTo('task-list')">Task List</button>
    <button mat-raised-button style="margin-right:5px" color="priority" (click)="logOut()">Log Out</button>
  </div>
  <div class="input">
    <form class="task-form" [formGroup]="taskForm" (ngSubmit)="addTask()">
    <mat-form-field>
      <mat-label>Task Title</mat-label>
      <input matInput type="text" formControlName="title" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Assign To</mat-label>
      <input matInput type="text" formControlName="assignTo" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Task Description</mat-label>
      <textarea matInput type="text" formControlName="description"> </textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Task Category</mat-label>
      <mat-select formControlName="category">
        @for (category of categoriesOfTask; track $index) {
        <mat-option [value]="category">{{ category }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Deadline</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" />
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div>Select priority</div>
    <div class="shundor">
      <mat-button-toggle-group formControlName="priority" class="toggle-group">
        <mat-button-toggle value="Low">Low</mat-button-toggle>
        <mat-button-toggle value="Medium">Medium</mat-button-toggle>
        <mat-button-toggle value="High">High</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div class="shundor">
      <button style=" width: 100px; height: 30px;"type="submit">Submit</button>
    </div>
    
  </form>
  </div>

</div>