:host {
  .all-tasks {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 400px;
      margin-inline: auto;
      margin-top: 24px;
      background: transparent;
  }
  .container{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin-bottom: 10px;
}
input[type=text] {
  width: 100%;
  // padding: 12px 20px;
  margin: 8px 0;

  height: 5px;
}
.search{
  height: 10px;
 
}
.example-form-field {
  width: 100x;
  height: 20px;
}
}
