:host {
    .all-tasks {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 400px;
      margin-inline: auto;
      margin-top: 24px;
      background: transparent;
    }
    .container{
      display: flex;
      justify-content: center;
      padding-top: 20px;
  }
  
  }